/*
 Azzurro: #58A7C6
 Rosa per particolari: #EB418B
 Giallo per sottotitoli: #FDE58B
 Melanzana per scrittura: #490D27
*/
/*
section{
	width: 100%;
}

article{
	width: 75%;
	background: whitesmoke;
	margin: 10px auto;
	border: thin solid #58A7C6;
	border-radius: 1%;
}

form{
	widows: 75%;
	position: relative;
}


.titleTable{
	text-align: left;
	color: #490D27;
	font-size: 20pt;
	text-decoration: underline;
	margin: 5px 0px;
}

label{
	font-size: 14pt;
	font-weight: bold;
	margin-right: 50px; 
	width: 30px;
}


.textBox{
	width: 70%;
	height: 50px;
	margin: 5px;
	font-size: 14pt;
	width: 75%;
}

#formTable{
	width: 80%;
	position: relative;
	margin: auto;
	padding: 10px 0px;
}





th{
	font-size: 26pt;
	color: #490D27;
}

label{
	font-size: 14pt;
	font-weight: bold;
	margin-right: 50px; 
	width: 200px;
}

.textBox{
	width: 600px;
	height: 50px;
	margin: 5px;
	font-size: 14pt;
	width: 75%;
}

textarea{
	font-size: 14pt;
	margin: 5px;
	width: 75%;
	overflow: hidden;
}


.bottoni{
	margin: 20px 0px;
	font-size: 11pt;
	width: 130px;
	height: 30px;
	border-radius: 5%;
}*/
/*
section{
	width: 100%;
}

article{
	background: whitesmoke;
	width: 80%;
	border: thin solid #58A7C6;
	border-radius: 1%;
	margin: 10px auto;
}
*/

section{
	background: whitesmoke;
	width: 80%;
	border: thin solid #58A7C6;
	border-radius: 1%;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}


article{
	padding: 10px 25px;
}

#contactArticle{
	background: rgb(224, 229, 231);
	margin: 15px 25px;
	width: 20%;
	min-width: 180px;
}

#messageArticle{
	width: 80%;
	min-width: 230px;
}

#formContact{
	display: flex;
	flex-direction: column;
}

#titleTable{
	font-size:22pt;
	font-style:normal;
	font-weight: 500;
	color: #58A7C6;
	letter-spacing: 5px;
	letter-spacing: 5px;
	margin: 10px 0px 0px 0px;
}

form p{
	color: rgb(150, 150, 129);
	font-size: 14pt;
}

label{
	font-weight: bold;
	font-size: 13pt;
	color: rgb(78, 72, 72);
	display: flex;
	text-transform: uppercase;
}

label div{
	color: rgb(218, 0, 0);
	font-size: 16pt;
}

input{
	font-size: 14pt;
	padding: 5px;
	margin-top: 2px;
	margin-bottom: 20px;
	border-radius: 5px;
}

textarea{
	font-size: 14pt;
	padding: 5px;
	margin: 10px 0px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}

.contactTitle{
	font-variant: small-caps;
	font-weight: bold;
	font-size: 14pt;
	color:rgb(218, 0, 0);
}

#myEmail{
	text-transform: lowercase;
}

#myAddress{
	text-transform: capitalize;	
}

#myEmail, #myAddress, #myPhone, #myCell{
	font-style: italic;
	word-spacing: 1px;
}